ion-header {
  ion-toolbar {
    --min-height: 90px;
    ion-title {
      align-items: flex-end;
      img {
        width: 45px;
        vertical-align: middle;
        margin-right: 10px;
      }

      span {
        font-size: 18px;
      }

      ion-button {
        display: block;
      }
    }
  }
}
